


<div class="titlecontainer"> 
	<div class="titles left"> about </div>
	<div class="description"> 
		<strong>Serein</strong> - noun,

		<em>fine rain falling after sunset from a sky in which no clouds are visible</em><p>
		Serein Spa is located in the beautiful Upper East Side of New York City right on Fifth Avenue. Stay on top of the trends and rejuvenate yourself with our supreme services. From our superior fine leather chairs down to our luxurious massage bedding, there is no better place or way to give yourself the life of luxuries you deserve. </p> 
	</div>
</div>


<div class="titlecontainer"> 
    <img class="title" src="images/about2.jpg" style="width:30%; float:left;">
	<img src="images/about.jpg" style="width:30%; float:left; margin:0px 10px;" >
	<img src="images/pool.jpg" style="width:30%; float:left;">
</div>


