

<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    
    <p>Hours</p>
    <p>Monday to Sunday</p>
    <p>Open 7 days a week for your pleasure</p>
    <p>10am to 7pm</p>
    
    <p>Location</p>
    <p>700 Fifth Avenue, New York, NY 10016</p>
    
    <form method="POST" action="/contact-us-post">
      <textarea name="message_body"></textarea>
      <input type="submit">
    </form>

    
    
    
    
</body>
</html>

