


<html>
<head>
	<title>Gallery</title>

<<<<<<< HEAD
	<script src="jquery-1.11.3.min.js"></script>


=======
	<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   
<!-- 
>>>>>>> 4d3526d17619b7c4ab89a4dc48ea1b334f053309
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/gallery.css"> -->


<style type="text/css"> 
		
		body { background: #fff; } 
		#main { margin: 50px auto; padding: 20px; box-shadow: 0 0 28px #000; width: 800px; height: 500px; } 
		#caroussel { width: 750px; height: 500px; overflow:hidden; } 
		#caroussel ul { list-style: none; width: 3750px; height: 500px; } 
		#caroussel ul li { float: left; width: 750px; height: 500px; } 
		#caroussel ul img { width: 750px; height: 500px; } 
</style>

</head>
<body>


<<<<<<< HEAD
	<script src="scripts/gallery.js"></script>

<img class="titles" src="images/gallery.png">
=======
<!-- 	// <script type='text/javascript' src="scripts/gallery.js"></script>
	// <script type='text/javascript' src="caption.js"></script> -->

>>>>>>> 4d3526d17619b7c4ab89a4dc48ea1b334f053309

	<div class="titlecontainer"> 
	<div class="titles left"> gallery</div>
	<div class="description"> 
		<strong>Serein</strong> - noun,

<em>fine rain falling after sunset from a sky in which no clouds are visible</em><p>
Serein Spa is located in the beautiful Upper East Side of New York City right on Fifth Avenue. Stay on top of the trends and rejuvenate yourself with our supreme services. From our superior fine leather chairs down to our luxurious massage bedding, there is no better place or way to give yourself the life of luxuries you deserve. </p> </div>
</div>





	  <div id="main">
	 	<div id="caroussel">
	 		<ul>
		 		<li><img src="images/spa1.jpg"></li>
		 		<li><img src="images/spa2.jpg"></li>
		 		<li><img src="images/spa3.jpg"></li>
		 		<li><img src="images/spa4.jpg"></li>
			 	<li><img src="images/spa5.jpg"></li>
			 	<li><img src="images/spa6.jpg"></li>
				<li><img src="images/gardenwall.jpg"></li>
				<li><img src="images/indoorspa2.jpg"></li>
				<li><img src="images/spa7.jpg"></li>
				<li><img src="images/spa8.jpg"></li>
				<li><img src="images/rooftopspa.jpg"></li>
			</ul>
		</div>
	</div>

<script type="text/javascript">

$(document).ready(function() {
    
    var $ul = $('#caroussel  ul');
    setInterval(function() {
      $ul.animate({marginLeft:'-800px'},2000,function(){
        $ul.find("li:last").after($(this).find("li:first"));
        $ul.css({marginLeft:0});
      });
    },2000);          

 }); 


</script>



	  		
	   <a href="about"><img id="logo" src="images/logo.png"></a> 




</body>


<div id="footer">
	<footer>Serein Spa@2015

		<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @twitter</a>
		 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


	</footer>
</div>
</div>
</html>



	



