
<!DOCTYPE/>
<html>
<head>
	<title>Serein Spa</title>
	<script>
	document.getElementById("demo").innerHTML = "image/caption.js";
		</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	<script src="caption.js"></script>
	
	<link rel="stylesheet" type="text/css" href="galresponsive.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
</wrapper>
<body>

	<p> 
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

<ul id="portfolio" class="clearfix">
  <li><a href="images/indoorpool.jpg" title="Brick and Bay Windows"><img src="images/indoorpool.jpg" alt="brick and by windows"></a></li>
  
 
  <li><a href="images/spapool.jpg" title="Spa Pool"><img src="spapool.jpg" alt="spa pool"></a></li>
  
 
  <li><a href="images/indoorpool.jpg" title="Indoor Pool"><img src="images/indoorpool.jpg" alt="indoor pool"></a></li>
  
 
  <li><a href="images/penthouse.jpg" title="Pent House"><img src="images/penthouse.jpg" alt="Pent House"></a></li>
 
 
  <li><a href="images/staffmassage.jpg" title="Staff Massage"><img src="img/item05.jpg" alt="staff massage"></a></li>
  
 
  <li><a href="images/rooftopspa.jpg" title="Roof Top Spa"><img src="images/rooftopspa.jpg" alt="blood pressure app ui"></a></li>
  
 
  <li><a href="images/stones@2.jpg" title="Stones"><img src="images/stones.jpg" alt="Stones"></a></li>
  
 
 <li><a href="images/nail.jpg" title="Manicure Pedicure"><img src="images/nail.jpg" alt="Manicure Pedicure"></a></li>
  
  <!-- <li><a href="img/item08@2x.jpg" title="Vector Devices"><img src="img/item08.jpg" alt="apple device vector icons"></a></li> -->
 
	
</wrapper>	

</body>
</html>

