
<html>
<head>
	<title>Spa</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<!-- include jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

<div id="background-slider">
  <div style="background-image: url(images/indeximg1.jpg)"></div>
  <div style="background-image: url(images/indeximg2.jpg)"></div>
  <div style="background-image: url(images/indeximg3.jpg)"></div>
  <div style="background-image: url(images/indeximg4.jpg)"></div>
  <div style="background-image: url(images/indeximg5.jpg)"></div>

</div>
	  		
<a href="about"><img id="logo" src="images/logo.png"></a>

<section id="scripts">
<script type='text/javascript' src='scripts/library.js'></script>
<script type='text/javascript' src='scripts/main.js'></script>
</section>


</body>
</html>