<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UFT-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<header>
		<!-- logo -->
		<div class="logo">
			<a href="/"><img src="images/logo.png"></a>
		</div>
	<nav>
		<!-- header and navigation -->
			<ul id="header-content">
				<li><a href="about">ABOUT</a></li>
				<li><a href="services">SERVICES</a></li>
				<li><a href="gallery">GALLERY</a></li>
				<li><a href="contact">CONTACT US</a></li>
			</ul>
		
	</nav>
	</header>

<div class="content">


<%= yield %>
	

</div>
</body>
</html>