<!DOCTYPE html>
<html>
<head>
	<title>PORTFOLIO</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>PORTFOLIO</header>

	<div class="container">

		<div class="left">



		<%= yield(:text) %>


			</div>


		<div id="box" class="content">


		<%= yield(:page) %>


		</div>

		<footer>
			<ul>
				<li><a href="home.html" target="iframe">HOME</a></li> 
				<li><a href="about.html" target="iframe">ABOUT</a></li>
				<li><a href="contact.html" target="iframe">CONTACT</a></li>
			</ul>
		</footer>
	</div>


</body>
</html>