
<head>
	<style>
		.text:hover span {display:none;}

		.service1:hover:before {content:"Pamper your tired feet with our one of a kind aromatherapy foot treatments. Soak your feet in our beautiful glass bowls with massage-powered chairs. Relax while we bring your feet back to life with the basic shaping, trimming and callous treatments followed by a wonderful massage. Our pedicures also include an exfoliating foot scrub and mask of your choice aroma."}

		.service3:hover:before {content:"Enjoy one of our famous deep tissue massages. We work deep in your tissue to reach your trigger points and ease stretching. Or opt for the swedish if you wish for lower pressure. This type of treatment is slower and more focused on areas of your body you wish to stretch."}

		.service4:hover:before {content:"Sit back and enjoy one of our signature manicures. This service includes shaping, trimming of the cuticle followed by an infused hand massage. Finish of a one of a kind hand treatment with a beautiful color polish of your choice or opt for our gel polish for a longer lasting, lustrous manicure."}

		.service5:hover:before {content:"Our treatments include a a steam cleaning, exfoliation and mosturizing treatments. Extractions are also available if you wish for a deeper cleaning. We carry several hydrating masks that are customized to your skin type. This is the perfect way to cleanse your skin and experience the soohing effects of our facials."}

	</style>
</head>

<body>
	<div class="container">
		<img class ="left" src="images/serviceimg4.jpg">
		<div class="text service4"> 
			<span class="child">
				<strong>Manicures</strong><p>20+</p>
			</span> 
		</div>
		</div>	
	</div>				

	<div class="container">
		<img class ="left" src="images/serviceimg5.jpg">
		<div class="text service5"> 
			<span class="child">
				 <strong>Facials</strong><p>60+</p>
			</span> 
		</div>	
	</div>			


	<div class="container">
		<img class ="left" src="images/serviceimg2.jpg">
		<div class="text service1"> 
			<span class="child">
				<strong>Pedicures</strong><p>45+</p>
			</span> 
		</div>	
	</div>		

	<div class="container">
		<img class ="left" src="images/serviceimg3.jpg">
		<div class="text service3"> 
			<span class="child">
				<strong>Massages</strong><p>60+</p>
			</span> 
		</div>	
	</div>			

</body>




