

<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


	<img class="titles" src="images/services.png">



			<div class="container">
				<img class ="left" src="images/serviceimg2.jpg">
				<div class="text"> 
					<p class="child">
						service
					</p> 
				</div>	
			</div>		

					
			<div class="container">
				<img class ="left" src="images/serviceimg1.jpg">
				<div class="text"> 
					<p class="child">
						service
					</p> 
				</div>	
			</div>			

			<div class="container">
				<img class ="left" src="images/serviceimg2.jpg">
				<div class="text"> 
					<p class="child">
						service
					</p> 
				</div>	
			</div>			

			<div class="container">
				<img class ="left" src="images/serviceimg1.jpg">
				<div class="text"> 
					<p class="child">
						service
					</p> 
				</div>	
			</div>				

			<div class="container">
				<img class ="left" src="images/serviceimg2.jpg">
				<div class="text"> 
					<p class="child">
						service
					</p> 
				</div>	
			</div>			


</body>
</html>





