

<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<p><h2>Massages</h2><h4>60+</h4></p>
        <p>Enjoy one of our famous deep tissue massages. We work deep in your tissue to reach your trigger points and ease stretching. Or opt for the swedish if you wish for lower pressure. This type of treatment is slower and more focused on areas of your body you wish to stretch.</p>
    
    <p><h2>Manicures</h2><h4>20+</h4></p>
        <p>Sit back and enjoy one of our signature manicures. This service includes shaping, trimming of the cuticle followed by an infused hand massage. Finish of a one of a kind hand treatment with a beautiful color polish of your choice or opt for our gel polish for a longer lasting, lustrous manicure.</p>

    <p><h2>Pedicures</h2><h4>45+</h4></p>
        <p>Pamper your tired feer with our one of a kind aromatherapy foot treatments. Soak your feet in our beautiful glass bowls with massage-powered chairs. Sit back and relax while we bring your feet back to life with the basic shaping, trimming and callous treatments followed by a wonderful massage. Our pedicures also include an exfoliating foot scrub and mask of your choice aroma.</p>

    <p><h2>Facials<h4>60+</h4></h2></p>
        <p>Our treatments include a a steam cleaning, exfoliation and mosturizing treatments. Extractions are also available if you wish for a deeper cleaning. We carry several hydrating masks that are customized to your skin type. This is the perfect way to cleanse your skin and experience the soohing effects of our facials.</p>

</body>
</html>





